@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,800');

/* Global Styles */
:root {
  --primary-color: #3C8EA3;
  --dark-color: #464646;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #464646;
}

a.btn:hover {
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

i {
  padding-right: 5px;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: 1px solid #ccccccc7;
  margin: 0.7rem 0;
  border-radius: 0.25rem;
  box-shadow: 0px 3px 6px #ccccccc7, 0px 3px 6px #ccccccc7;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0px 8px 8px 4px #ccc;
  transform: scale(1) translateY(-3px);
  transition: all 0.3s ease;
}

.section {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

/* Buttons */
.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.7rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 0.25rem;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: #F2EDF3;
  color: #333;
  border-radius: 5px;
}

.alert {
  width: auto;
  padding: 0.7rem;
  margin: 1rem auto;
  opacity: 0.9;
  background: var(--light-color);
  border-radius: 5px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.btn-container{
  text-align: center; 
  display: inherit;
}

.btn-anim {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 85px;
  transition: all 280ms ease-in-out;
}

.btn-hover {
  letter-spacing: 0;
}

.btn-hover:hover,
.btn-hover:active {
letter-spacing: 1px;
transition-property: all;
transition-duration: .6s;
transition-timing-function: ease;
}

.btn-hover:after,
.btn-hover:before {
backface-visibility: hidden;
border: 1px solid #fff;
border-color: transparent;
bottom: 0px;
content: " ";
display: block;
margin: 0 auto;
position: relative;
transition: all 280ms ease-in-out;
width: 0;
}

.btn-hover:hover:after,
.btn-hover:hover:before {
backface-visibility: hidden;
border-color: #fff;
transition: width 350ms ease-in-out;
width: 70%;
transition-property: all;
transition-duration: .6s;
transition-timing-function: ease;
}

.btn-hover:hover:before {
bottom: auto;
top: 0;
width: 70%;
transition-property: all;
transition-duration: .6s;
transition-timing-function: ease;
}

/* Forms */
.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* 404 Styles */
.header404{
  text-align: center;
  margin: 30px 15px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: #bbb;
}

.error-container {
  text-align: center;
  font-size: 106px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 70px 15px;
}

.error-container > span {
  display: inline-block;
  position: relative;
}
.error-container > span.four {
  margin-right: 15px;
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background: linear-gradient(to right, #757f9a, #d7dde8);
}
.error-container > span.four:before,
.error-container > span.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
}
.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background: linear-gradient(to right, #757f9a, #d7dde8);
}
.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #757f9a, #d7dde8);
}

.error-container > span.zero {
  margin-right: 15px;
  vertical-align: middle;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(to right, #757f9a, #d7dde8);
  overflow: hidden;
  animation: bgshadow 5s infinite;
}
.error-container > span.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background:
    linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%),
    linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%);
}

.error-container > span.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.number {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4);
  }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4);
  }
}

.link-container {
  text-align: center;
  margin: 0 0 2rem 0;
}

a.home-link {
  text-transform: uppercase;
  font-size: 13px;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

/* Footer */
.about{
  position: relative;
  min-height: 90vh;
}

footer {
  position:absolute;
  bottom:0;
  width: 100%;
  max-width: 1200px;
  margin: 15px 0px;
  height: 40px;
}

.mobile{
  display: none;
}

button.clear{
  margin: 2rem auto;
  width: 20%;
}

/* Search input */
.search, .search form {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 2px solid var(--primary-color);
  padding: 5px 15px;
  height: 45px;
  border-radius: 7px 0 0 7px;
  outline: none;
  color: var(--dark-color);
  font-size: 1rem;
}

.searchTerm:focus{
  color: var(--dark-color);
  border: 3px solid var(--primary-color);
}

.searchButton {
  width: 40px;
  height: 45px;
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 100%;
  position: relative;
  margin: 2rem 0px;
}

.input-container{
  width: 100%;
  display:inline-block;
}

.input-text-animation:after{
  content:"";
  position:absolute;
  top: 9px;
  left:18px;
  color: gray;
  animation: typing 6s ease infinite;
}

.input-text-animation:before{
  content:"";
  position:absolute;
  left: 12px;
  top: 12px;
  width: 1px;
  height: 17px;
  background-color: gray;
  animation:blink .4s ease infinite, cursor 6s ease infinite;
}

@keyframes blink{
  0%{opacity:0;}
  100%{opacity:1;}
}

@keyframes cursor{
  0%{transform:translateX(0px)}
  3%{transform:translateX(15px)}
  6%{transform:translateX(25px)}
  9%{transform:translateX(35px)}
  12%{transform:translateX(45px)}
  15%{transform:translateX(57px)} 
  18%{transform:translateX(73px)}
  21%{transform:translateX(81px)}
  24%{transform:translateX(90px)}
  27%{transform:translateX(97px)} /*r*/ 
  30%{transform:translateX(107px)}
  33%{transform:translateX(117px)}
  36%{transform:translateX(134px)}
  39%{transform:translateX(144px)}
  42%{transform:translateX(147px)}
  45%{transform:translateX(150px)}
  50%{transform:translateX(153px)}
  100%{transform:translateX(153px)}
}

@keyframes typing{
  0%{content:"";}
  3%{content:"T"}
  6%{content:"Ty"}
  9%{content:"Typ"}
  12%{content:"Type"}
  15%{content:"Type a"}
  18%{content:"Type a u"}
  21%{content:"Type a us"}
  24%{content:"Type a use"}
  27%{content:"Type a user"}
  30%{content:"Type a usern"}
  33%{content:"Type a userna"}
  36%{content:"Type a usernam"}
  39%{content:"Type a username"}
  42%{content:"Type a username."}
  45%{content:"Type a username.."}
  50%{content:"Type a username..."}
  100%{content:"Type a username..."}
}


/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  button.clear{
    width: 100%;
  }

  .mobile{
    display: inline-block;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .btn-container{
    display: inline-flex;
  }
  .about{
    min-height: 100vh;
  }
}